.board {
    display: table;
    font-size: 1.0em;
    border-collapse: separate;
    border-spacing: 1px;
}

.board .row {
    display: table-row;
}

.board .col {
    display: table-column;
}

.board .cell {
    display: table-cell;
}

.board .tile {
    width: 2.0em;
    height: 2.0em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .tile-free {
    background-color: fuchsia;
}

.board .tile-crossed {
    background-color: turquoise;
}

.board .tile-filled {
    background-color: tomato;
}

.board .tile:hover {
    background-color: yellow;
}

.board .column-header-cell {
    vertical-align: bottom;
}

.board .row-header-cell {
    align-items: flex-end;
}

.board .top-left-cell {
    background-color: cadetblue;
}

.board .column-hints {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.board .row-hints {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.board .hint-tile {
    background-color: peachpuff;
    width: 2.0em;
    height: 2.0em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .row.mod4 {
    height: 2.2em;
}

.board .col.mod4 {
    width: 2.2em;    
}
