.app {
    padding: 10pt;
}

.board {
    display: table;
    font-size: 0.9em;
    border-collapse: collapse;
}

.board .row {
    display: table-row;
}

.board .col {
    display: table-column;
}

.board .cell {
    display: table-cell;
    vertical-align: top;
}

.board .column-header-cell {
    vertical-align: bottom;
}

.board .row-header-cell {
    vertical-align: top;
}

.board .top-left-cell {
    padding: 1em;
}

.board .column-hints {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.board .row-hints {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.board .tile,
.board .hint-tile,
.board .tile.selected::after {
    width: 1.3em;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .tile.empty {
    background-color: rgba(255, 255, 255, 0.75);
}

.board .tile.guess-free {
    background-color: rgba(128, 128, 128, 0.75);
}

.board .tile.guess-filled {
    background-color: rgba(0, 0, 0, 0.75);
}

.board .tile.selected::after {
    content: "";
    position: absolute;
    border: 3px solid hotpink;
}

.board .tile.error {
    background-color: red;
}

.board .hint-tile {
    background-color: rgba(32, 22, 13, 0.1);
}

.board .hint-tile.sum {
    background-color: rgba(255, 119, 0, 0.4);
}

.board .hint-tile.hidden {
    display: none;
}

.board .row {
    border-top: 2px solid transparent;
}

.board .row.mod0 {
    border-top: 3px solid transparent;
}

.board .col {
    border-left: 2px solid transparent;
}

.board .col.mod0 {
    border-left: 3px solid transparent;
}

.board .row.highlight,
.board .col.highlight {
    background: hotpink;
}

.hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003a;
    transition: opacity 0.5s ease;
}

.modal {
    position: absolute;
    left: 5em;
    top: 5em;
    width: 50em;
    height: 20em;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.2s ease;
    box-shadow: 0 2px 8px 3px;
}

button {
    padding: 0.5em;
    margin: 0 auto;
    box-shadow: 1px 1px 1px #0000003a;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.562);
}